
  .grid {
    display: flex;                    
    flex-wrap: wrap;
    justify-content: space-around;
    
  }
  .cell {
    flex: 0 0 32%;
    text-align: center;
    margin-bottom: 1%;
    background-color:  rgba(3, 168, 245, 0.603);
  }
  .disc{
    font-weight: 100px;
    line-height: 20px;
    text-align:justify; 
  }
  hr{
    border: 2px solid rgb(82, 255, 232);
	  border-radius: 0.08px;
    width:70%;
}

  @media screen and (max-width: 600px) {
    
  .grid {
    display: block;
    flex-wrap: wrap;
    justify-content: space-around;
  }
}