hr{
  border: 2px solid rgb(3, 168, 245);
  border-radius: 0.08px;
  width:70%;
}
.grid {
  display: flex;                    
  flex-wrap: wrap;
  justify-content: space-around;
  
}
.cell {
  flex: 0 0 32%;
  text-align: center;
  margin-bottom: 1%;
  background-color:  rgba(3, 168, 245, 0.603);
  font-weight: 100;
  font-size: 1.125rem;
  line-height: 2;
}
.content-pro{
  font-weight: 100px;
  line-height: 20px;
  text-align:justify;
  padding:5%; 
}
@media screen and (max-width: 600px) {
  
.grid {
  display: block;
  flex-wrap: wrap;
  justify-content: space-around;
}
}
.pro{
  padding:3%;
}
.container-fluid {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}