

#l1, #l2, #l3, #l4, #l5, #l6, #l7, #l8, #l9, #l10{ display: none;}
.content1{
  height:100%;
  width:100%;
  background-image: url('CSS/Images/HOR.jpeg');
  background-size: 100% auto;
}
.content2{
  height:100%;
  width:100%;
  background-image: url('CSS/Images/kartavya.png');
  background-size: 100% auto;
}
.content3{
    height:100%;
  width:100%;
  background-image: url('CSS/Images/MD.png');
  background-size: 100% auto;
}
.container{
  
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    z-index: 0;
		margin: 0 auto;
		margin-top: 20px;
		position: relative;
		width: 800px;
		height: 10%;
		padding-bottom: 30%;
	  user-select: none;
		background-color: rgb(169,169,169);
		/* border: solid 10px #616161; */
    border-radius:30px ; 
    text-align: center;
	}

	.container .slide_img{
		position: absolute;
		width: 100%;;
		height: 100%;
	}
	.container .slide_img img{
		width: inherit;
		height: inherit;
	}

	 .prev, .next{
    font-family: 'Roboto', sans-serif;
		width: 5%;
		position: absolute;
		top:87%; 
		background-color: rgba(255, 255, 255, 0);
		color:rgba(244, 244, 244, 0.637);
		z-index: 99;
		transition: .45s;
		cursor: pointer;
		text-align: left;
	}

	.next{right:0;}
	.prev{left:0;}

	label span{
		position: absolute;
		font-size: 100pt;
		top: 50%;
	 	transform: translateY(-50%);
	}

	.prev:hover, .next:hover{
		transition: .3s;
		color: #ffffff; 
  }
  .content-aa{
    z-index: -1;
  }
 
  .content-pro{
    
   
    font-size: 170%;
    line-height: 100%;
    text-align:justify;

  }
.container #nav_slide{
	width: 100%;
	bottom: 12%;
	height: 11px;
	position: absolute;
	text-align: center;
	z-index: 99;
	cursor: default;
}
hr{
  border: 2px solid rgb(3, 116, 245);
  border-radius: 0.08px;
  width:70%;
}
#nav_slide .dots{
	width: 18px;
	height: 18px;
	margin: 0 4px;
	position: relative;
	border-radius: 100%;
	display: inline-block;
	background-color: rgba(0, 0, 0, 0.6);
	transition: .4s;
}

#nav_slide .dots:hover {
	cursor: pointer;
	background-color: rgba(255, 255, 255, 0.9);
	transition: .25s
}

.slide_img{z-index: -1; color: rgba(255, 255, 255, 0);}

	#l1:checked ~ #one  ,
	#l2:checked ~ #two  ,
	#l3:checked ~ #three,
	#l4:checked ~ #four ,
  #l5:checked ~ #five ,
  #l6:checked ~ #six  ,
  #l7:checked ~ #seven ,
  #l8:checked ~ #eight ,
  #l9:checked ~ #nine ,
  #l10:checked ~ #ten

  
	{z-index: 10; animation: scroll .5s ease-in-out; color: black;}

	#l1:checked  ~  #nav_slide #dot1,
	#l2:checked  ~  #nav_slide #dot2,
	#l3:checked  ~  #nav_slide #dot3,
	#l4:checked  ~  #nav_slide #dot4,
  #l5:checked  ~  #nav_slide #dot5,
  #l6:checked  ~  #nav_slide #dot6,
  #l7:checked  ~  #nav_slide #dot7,
  #l8:checked  ~  #nav_slide #dot8,
  #l9:checked  ~  #nav_slide #dot9 ,
  #l10:checked  ~  #nav_slide #dot10

  
	{ background-color: rgba(255,255,255,.9);}

@keyframes scroll{
	0%{	opacity:.4;}
	100%{opacity:1;}
}		
@media screen and (max-width: 1085px){
	.container{
		border: none;
		width: 90%;
		height: 30%;
		padding-bottom: 55%; 
  }	
  .carhr{
    border: 2px solid rgb(3, 116, 245);
    border-radius: 0.08px;
    width:50%;
  }

  .dots{
    top: 300%;
  }
  .content-pro{
    font-size: 100%;
    line-height: 20px;
    text-align:justify;
    padding:5%; 
    margin: 5%;

  }
	label span { font-size: 50pt; }
	
	.prev, .next{
    width: 8%;
    top:90%;
	}	
	#nav_slide .dots{
		width: 12px;
		height: 12px;
	}
}
@media screen  and(min-width: 970px){
	/* .me{ display: none;} */
}

